@import "mixins";
@import "fontello";

$blue: rgb(85, 164, 242);

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

body {
  background-color: rgb(31, 31, 31);
}

a {
  transition: all .3s;
}

.twitter-timeline {
  width: 100%;
  min-height: calc( 268px*3 - 2em - 55px );
}

.card {
  display: block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid lighten(rgb(31, 31, 31), 10%);
  height: 268px;
  color: $blue;

  &:hover {
    text-decoration: none;
    border-color: $blue;
    color: darken($blue, 10%);
  }

  h2 {
    margin-top: 100px;
  }
}

.cards-list-stacked {
  margin-left: -14px;

  > [class*="col-"] {
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    margin-left: -1px;

    &:hover {
      z-index: 2;
    }

    &[class*="col-"] + [class*="col-"] {
      @include responsive(sm) {
        margin-left: -1px;
      }
    }
  }

  .card {
    margin-bottom: -1px;
  }
}

.btn-help {
  border-color: $blue;
  background-color: $blue;

  font-weight: 100;
  margin: 1em 0;

  &:hover {
    background: transparent;
    border-color: $blue;
    color: rgb(85, 164, 242);
  }
}

.footer-main {
  color: rgb(109, 109, 109);

  a {
    &:hover {
      text-decoration: none;
      color: $blue;
      border-bottom: 1px solid darken($blue, 20%);
    }
  }
}